#!/bin/sh
yarn install

if ! command -v detekt &>/dev/null; then
    echo "Install detekt"
    brew install detekt
fi

DETEKT_VERSION=$(detekt --version)
export DETEKT_VERSION
export DETEKT_PLUGINS="detekt/plugins"

if [[ ! -e "$DETEKT_PLUGINS/detekt-formatting-$DETEKT_VERSION.jar" ]]; then
    rm -rf $DETEKT_PLUGINS
    mkdir $DETEKT_PLUGINS
    http --download https://repo1.maven.org/maven2/io/gitlab/arturbosch/detekt/detekt-formatting/$DETEKT_VERSION/detekt-formatting-$DETEKT_VERSION.jar --output "$DETEKT_PLUGINS/detekt-formatting-$DETEKT_VERSION.jar"
fi
